body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 220px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

a {
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
}